.panel-heading select{
    margin:0 15px;
    max-width: 150px;
}

.addBtnBox,.nowUser{
    display: none;
}

.timerRange{
    display: flex;
    justify-content: space-around;
}

.makeBox,.spendBox,.nearbyBox{
    display: none;
}